body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:897px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:-47px;
  width:897px;
  height:807px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:897px;
  height:807px;
}
#u1 {
  position:absolute;
  left:2px;
  top:396px;
  width:893px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:660px;
  top:24px;
  width:100px;
  height:26px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:27px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
