body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:845px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:200px;
  top:18px;
  width:626px;
  height:362px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  height:362px;
}
#u1 {
  position:absolute;
  left:2px;
  top:173px;
  width:622px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:650px;
  top:183px;
  width:50px;
  height:16px;
  font-size:14px;
}
#u3 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u2_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4 {
  position:absolute;
  left:710px;
  top:183px;
  width:50px;
  height:16px;
  font-size:14px;
}
#u5 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u4_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6 {
  position:absolute;
  left:632px;
  top:230px;
  width:62px;
  height:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:210px;
  top:390px;
  width:635px;
  height:71px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:635px;
  height:71px;
}
#u9 {
  position:absolute;
  left:2px;
  top:28px;
  width:631px;
  visibility:hidden;
  word-wrap:break-word;
}
